* {
    margin: 0;
    padding: 0;
    background-color: #fff;
}


html {
    width: 200vw;
    height: 100vh;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-image: rgb(250, 8, 8);
    width: 200%;
    height: 200%;
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }

.header {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: rgb(0, 0, 0);
}  

header > h1 {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: rgb(0, 0, 0);
}

header > p {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-image: rgb(0, 0, 0);
}

.notes {
    color: hsl(0, 0%, 96%);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.99);
    border-radius: 15px;
    padding: 15px;
    height: 200%;
    max-width: 60%;
    min-width: 30%;
}

.botton {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
}

.botton:hover {
    background-color: rgb(104, 103, 103);
}
#result {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 15px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}